<footer class="main-footer">
	<div class="container container_padd">

		<!-- Заголовок -->
		<div class="section__title st2">
			<h2>Get in touch</h2>
		</div>
		<!-- !Заголовок -->

		<!-- Социальные кнопки -->
		<div class="main-footer__social">
			<ul>
				<li><a href=""><i class="icon icon-facebook"></i></a></li>
				<li><a href=""><i class="icon icon-twitter"></i></a></li>
				<li><a href=""><i class="icon icon-gplus"></i></a></li>
				<li><a href=""><i class="icon icon-linkedin"></i></a></li>
			</ul>
		</div>
		<!-- !Социальные кнопки -->

		<!-- Подписка по email -->
		<p class="sub">Subscribe to our newsletter to stay update with what is new</p>
		<form id="form2" action="" class="main-footer__email" novalidate>
			<input name="email" type="email" placeholder="Email Address" class="email">
			<input type="submit" class="btn submit" value="Subscribe">
		</form>
		<!-- !Подписка по email -->

	</div>

	<p class="cpr">Cssauthor.com © 2014 All Rights Reserved</p>
</footer>