<header class="main-header">
	<div class="main-header__info">
		<div class="container">
		<ul>
			<li class="tel"><a href="#"><i class="icon-mobile"></i>6337 3128</a></li>
			<li class="email"><a href="#"><i class="icon-mail-alt"></i>info@business.com</a></li>
			<li class="fs"><a href="#"><i class="icon-facebook"></a></li>
		</ul>
		</div>
	</div>
	<div class="main-header__content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 main-header__logo">
					<a href="/">
						<i class="icon-graduation-cap"></i>
						<h1>Business<small>Tagline goes here</small></h1>
					</a>
				</div>
				<div class="col-md-8 col-sm-12">
					<nav class="main-header__navigation">
						<ul class="unstyle">
							<li><a href="#" class="active">Home</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Our Approch</a></li>
							<li><a href="#">Our Work</a></li>
							<li><a href="#" class="btn btn_st-1">Free Consultation</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>