<header class="main-header">
	<div class="main-header__info">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<span class="tel"><i class="icon-mobile"></i>6337 3128</span>
					<span class="email"><i class="icon-mail-alt"></i>info@business.com</span>
					<span class="fs"><i class="icon-facebook"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="main-header__content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 main-header__logo">
					<i class="icon-graduation-cap"></i>
					<h1>Business<small>Tagline goes here</small></h1>
				</div>
				<div class="col-md-8 col-sm-12">
					<nav class="main-header__navigation">
						<ul class="unstyle">
							<li class="main-navigation__item"><a href="#" class="main-navigation_active">Home</a></li>
							<li class="main-navigation__item"><a href="#">About Us</a></li>
							<li class="main-navigation__item"><a href="#">Our Approch</a></li>
							<li class="main-navigation__item"><a href="#">Our Work</a></li>
							<li class="main-navigation__item"><a href="#" class="btn btn_st-1">Free Consultation</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>