/*================================================================================
										МЕДИА ЗАПРОСЫ
================================================================================*/



/*================================================================================
							Для 992px
================================================================================*/
@media (max-width: 992px) {
	.container_padd{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.main-header__logo{
		text-align: center;
		a{
			display: inline-block;
		}
		i{
			float: none;
		}
	}
	.main-header__navigation {
    text-align: center;
	}


	.app__grid-item{
		.col-text {
	    padding: 10px 30px;
		}
	}

}


/*================================================================================
							Для 768px
================================================================================*/

@media (max-width: 768px) {

	.app__grid-item{
		[class^=col-] {
	    display: block;
	    margin: auto;
		}
		.col-text {
	    padding: 20px 0;
		}
	}

}


/*================================================================================
							Для 600px
================================================================================*/

@media (max-width: 600px) {

	.col-ls-10{
		 position: relative;
	  min-height: 1px;
	  padding-left: 15px;
	  padding-right: 15px;
		float: left;
		width: 83.333%;
	}
	.col-ls-pull-10 {
  	right: 83.333%;
	}
	.col-ls-push-10 {
  	left: 83.333%;
	}
	.col-ls-pull-0 {
    right: auto;
  }
  .col-ls-push-0 {
    left: auto;
  }
}