/*================================================================================
										МЕДИА ЗАПРОСЫ
================================================================================*/



/*================================================================================
							Для 992px
================================================================================*/
@media (max-width: 992px) {
	.container_padd{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.main-header__logo{
		text-align: center;
		a{
			display: inline-block;
		}
		i{
			float: none;
		}
	}
	.main-header__navigation {
    text-align: center;
	}


	.app__grid-item{
		.col-text {
	    padding: 10px 30px;
		}
	}

}


/*================================================================================
							Для 768px
================================================================================*/

@media (max-width: 768px) {

	.app__grid-item{
		[class^=col-] {
	    display: block;
	    margin: auto;
		}
		.col-text {
	    padding: 20px 0;
		}
	}

}



/*================================================================================
							Для телефонов 600px
================================================================================*/
@media screen and (max-width: $container-max-width-sm) {}
