*, :after, :before {
	box-sizing: border-box;
}
html {
	font-size: $font-size-root;
}
body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height;
	background-color: #f1f1f1;
	color: $gray;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5{
	margin: 0;
}
h1{
	font-size: $font-size-h1;
	font-weight: bold;
}
h2{
	font-weight: bold;
	font-size: $font-size-h2;
}
h3{
	font-size: $font-size-h3;
	font-weight: bold;
}
h4{
	font-size: $font-size-h4;
}
h5{
	font-size: $font-size-h5;
}
p{
	margin: 1rem 0;
}
a{
	text-decoration: none;
	cursor: pointer;
	// color: $link-color;
}

/*================================================
	Стили для всех кнопок
==================================================*/
.btn{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	transition: all .3s;
	font-size: 1rem;
	border-radius: 4px;
	color: #fff !important;
}

.btn_st-1{
	border-radius: 4px;
	padding: .7em 1.4em;
	background-color: $color-st-1;
	&:hover{
		background-color: darken($color-st-1, 20);
	}
}
.btn_st-2{
	background-color: $color-st-2;
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 1em 1.4em;
	border-radius: 6px;
	&:hover{
		background-color: darken($color-st-2, 20);
	}
}

/*================================================
	Убираем стили у списка
==================================================*/
.unstyle{
	padding: 0;
	list-style: none;
}


/*================================================
	Маска на фон
================================================*/
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


/*================================================
			Основная разметка сайта
================================================*/
.wrapper{
	max-width: $container-max-width-xxxl;
	margin: auto;
	position: relative;
	background-color: #fff;
}

/*Отступы для контейнера*/
.container_padd{
	padding-top: 110px;
	padding-bottom: 130px;
}
.section__title{
	line-height: 1.857rem;
	text-align: center;
	p{
		font-size: 1.429rem;
		margin: .3em;
	}
}
.section__title_line{
	margin-bottom: 40px;
	&:after{
		content: " ";
		display: inline-block;
		width: 47px;
		height: 5px;
		background: $gray-dark;
	}
}
.st1.section__title_line{
	&:after{
		background: $gray-dark;
	}
}
.st2.section__title_line{
	&:after{
		background: #fff;
	}
}
.st1{
	color: $gray-dark;
}
.st2{
	color: #fff;
}
/*================================================
	Сообщение о ошибках и успехах
==================================================*/
// .error{
// 	color: $brand-error;
// }
// .success{
// 	color: $brand-success;
// }

/*================================================================================
							header (contaco-info + logo + menu)
================================================================================*/
@import "partials/_header.scss";




/*================================================================================
							Страница index.html
================================================================================*/
@import "partials/_SIndex.scss";



/*================================================================================
							Общие разделы
================================================================================*/


/*================================================================================
										МЕДИА ЗАПРОСЫ
================================================================================*/
@import "partials/_media.scss";